html {
  font-size: 0.8rem;
  line-height: calc(0.8rem * 1.2); }
  @media (min-width: 48em) {
    html {
      font-size: calc(0.8rem*1.2);
      line-height: calc(0.8rem * 1.4); } }
  @media (min-width: 64em) {
    html {
      font-size: calc(0.8rem * 1.4);
      line-height: calc(0.8rem * 1.6); } }
  @media (min-width: 85.375em) {
    html {
      font-size: calc(0.8rem * 1.6);
      line-height: calc(0.8rem * 1.8); } }
  @media (min-width: 120em) {
    html {
      font-size: calc(0.8rem * 1.8);
      line-height: calc(0.8rem * 2); } }
  @media (min-width: 160em) {
    html {
      font-size: calc(0.8rem * 4);
      line-height: calc(0.8rem * 2.2); } }

body {
  font-size: 0.8rem; }

.tlt span {
  font-size: 2rem; }

.tlt p {
  font-size: 1.5rem; }

section h2 {
  font-weight: 100;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  text-align: center; }

section#about {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#about {
      padding: 3rem; } }

section#team {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#team {
      padding: 3rem; } }

section#progress {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#progress {
      padding: 3rem; } }

section#what_we_do {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#what_we_do {
      padding: 3rem; } }

section#home {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#home {
      padding: 3rem; } }

section#contact .inner {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#contact .inner {
      padding: 3rem; } }

section#about .inner {
  padding: 1rem; }
  @media (min-width: 120em) {
    section#about .inner {
      padding: 1rem; } }

section#team .inner {
  padding: 1rem;
  text-align: center; }
  @media (min-width: 120em) {
    section#team .inner {
      padding: 1rem; } }

section#what_we_do .inner {
  padding: 1rem;
  text-align: center; }
  @media (min-width: 120em) {
    section#what_we_do .inner {
      padding: 1rem; } }

section#progress .inner {
  padding: 1rem;
  text-align: center; }
  @media (min-width: 120em) {
    section#progress .inner {
      padding: 1rem; } }

.jumbotron {
  margin-bottom: 0px;
  background-image: url(../images/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }

.about-icons-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  height: 5rem;
  width: 100%;
  vertical-align: middle; }

.about-icon {
  display: inline-block;
  font-size: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.about-icon-text {
  display: table;
  vertical-align: middle;
  font-weight: 100;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-left: 0.4rem;
  height: 100%;
  width: 80%; }

.about-icon-text p {
  vertical-align: middle;
  display: table-cell;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.text-aboutus {
  color: #313131;
  text-align: justify; }

.text-aboutteam {
  color: #313131;
  text-align: justify; }

.plans div h2 {
  font-size: 3rem;
  letter-spacing: 0.1rem; }

.plans div h4 {
  font-size: 0.8rem; }

.plans div h3 {
  font-size: 1.2rem; }

.plans div p {
  font-size: 0.8rem; }

.plans > div {
  text-align: center;
  color: #fff;
  position: relative; }

.plans-border {
  border: 1px solid #becfd3;
  width: 60%;
  padding-top: 2rem;
  margin-bottom: 3rem; }
  @media (min-width: 30em) {
    .plans-border {
      width: 25%;
      margin-bottom: 0; } }

.plans-border2 {
  border: 3px solid #fff;
  width: 60%;
  padding-top: 2rem;
  margin-bottom: 3rem; }
  @media (min-width: 30em) {
    .plans-border2 {
      width: 25%;
      margin-bottom: 0; } }

.plans-border3 {
  border: 1px solid #becfd3;
  width: 60%;
  padding-top: 2rem; }
  @media (min-width: 30em) {
    .plans-border3 {
      width: 25%;
      margin-bottom: 0; } }

.plans-configurations {
  margin-top: 3rem;
  padding-bottom: 8rem; }

.social-icon-team {
  display: table;
  margin: 0 auto;
  padding: 0px; }

.icon-team {
  list-style: none;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  vertical-align: middle; }

.icon-team a {
  display: block;
  background-size: 2rem, 2rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out; }

.icon-team a:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2); }

.animate-numbers {
  height: auto; }

.number {
  text-align: center;
  font-weight: 100;
  color: #fff; }

.counter {
  color: #fff;
  display: inline; }

.number span {
  font-size: 3rem; }

.number p {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1.5rem auto 1.5rem; }

.count {
  padding: 0.5rem; }
  @media (min-width: 48em) {
    .count {
      padding: 1.5rem; } }

.count1 {
  background-image: url("../images/background1.jpg"); }

.count2 {
  background-image: url("../images/background1.jpg"); }

.count3 {
  background-image: url("../images/background1.jpg"); }

.count4 {
  background-image: url("../images/background1.jpg"); }

.count1-white {
  background: #fff; }

.counter-white {
  color: #313131;
  display: inline; }

.number-white p {
  color: #313131; }

.progress_bar {
  text-align: center; }

.progress_bar h2 {
  color: #313131; }

.progress {
  position: relative;
  height: 1.5rem;
  width: 100%;
  margin: 1.5rem auto;
  margin-top: 1rem;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #313131; }

.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 300;
  padding: 0.2rem 2rem 0.1rem 1rem;
  color: #313131; }

.progress > .progress-completed {
  position: absolute;
  right: 0;
  font-weight: 400;
  padding: 0.2rem 1rem 0.1rem;
  color: #fff; }

.progress-bar {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none !important; }

section#works h2 {
  color: white;
  margin: 0;
  float: none; }
  @media (min-width: 48em) {
    section#works h2 {
      float: left;
      margin-left: 4rem; } }

.gallery-box {
  padding: 2rem 0 2rem;
  background-image: url("../images/background1.jpg"); }
  @media (min-width: 48em) {
    .gallery-box {
      padding: 3rem 0 3rem; } }

#gallery {
  padding-top: 3rem; }
  @media (min-width: 48em) {
    #gallery {
      padding-top: 4rem; } }

.controls {
  margin-bottom: 1rem;
  font-size: 0.7rem;
  text-align: center; }
  @media (min-width: 48em) {
    .controls {
      margin-bottom: 1rem;
      margin-top: 0rem;
      margin-right: 0rem; } }

.control {
  background: transparent;
  border: 1px solid;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  transition: background 150ms;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }
  @media (min-width: 120em) {
    .control {
      padding: 0.5rem; } }

.control:hover {
  background: #3f3f3f; }

.what h3 {
  text-align: center;
  font-weight: 100;
  font-size: 0.9em;
  letter-spacing: 0.4rem;
  text-transform: uppercase; }

.what p {
  color: #313131;
  font-size: 0.9em;
  text-align: justify; }

.icons {
  padding: 1rem;
  text-align: center; }

.icons .lnr {
  font-size: 2rem; }

.download {
  text-align: center; }

.contact-background {
  background-image: url("../images/background1.jpg"); }

.contact-us {
  text-align: center;
  color: #fff; }

.contact-form {
  margin-right: 10em; }

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #313131;
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  border: 1px solid #fff; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 0px;
  line-height: 1;
  color: transparent;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px; }

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  padding: 10px;
  color: #fff; }

#InputMessage {
  height: 13em;
  background: transparent; }

input[type="text"] {
  background-color: transparent !important; }

input[type="email"] {
  background-color: transparent !important; }

#inputmessage {
  background-color: transparent; }

.form-control:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0); }

.contact .contact-btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 100;
  font-size: 0.9em;
  padding: 0.5em 3em;
  margin-bottom: 6em;
  height: 3em;
  text-transform: uppercase;
  margin-right: 1.8em; }

.contact .contact-btn:hover {
  color: #313131;
  background-color: #fff;
  border: solid 2px #fff; }

address {
  color: #fff;
  font-weight: 100; }

.h2-contact {
  color: #fff;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 16px; }

.lead {
  font-size: 1em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9); }

hr {
  border: 0;
  border-top: 0px solid; }

.contact-icon {
  display: inline-block;
  font-size: 25px;
  margin-right: 20px; }

.navbar {
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 99999;
  width: 100%; }

.navbar-brand {
  padding: 0;
  display: inline;
  overflow: hidden; }

.navbar-brand img {
  float: left;
  height: 2.5rem; }

.navbar-default {
  background-color: transparent;
  border-bottom: transparent; }

.navbar-toggler-icon {
  background-image: url(../images/menu-icon.png);
  max-height: 25px; }
  @media (min-width: 64em) {
    .navbar-toggler-icon {
      max-height: 18px; } }

.navbar-nav > li > a {
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 64em) {
    .navbar-nav > li > a {
      font-size: 0.6rem; } }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #fff; }

.navbar-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.75); }

.dropdown-menu {
  background-color: #313131; }

.dropdown-menu > li > a {
  display: block;
  clear: both;
  font-weight: 100;
  line-height: 1.82857143;
  color: #fff;
  white-space: nowrap; }

.dropdown-menu > li > a:hover {
  background-color: #3e3e3e;
  color: #fff; }

.dropdown-item {
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff; }

.navbar-scroll-background {
  position: fixed;
  top: 0;
  background: transparent; }

.navbar-scroll-background ul {
  list-style-type: none;
  padding: 0; }

.navbar-scroll-background ul li {
  display: inline-block;
  color: transparent; }

/*# sourceMappingURL=style.css.map */
