html {
  font-size: 1rem;
  line-height: calc(1rem * 1.2); }
  @media (min-width: 48em) {
    html {
      font-size: calc(1rem*1.2);
      line-height: calc(1rem * 1.4); } }
  @media (min-width: 64em) {
    html {
      font-size: calc(1rem * 1.4);
      line-height: calc(1rem * 1.6); } }
  @media (min-width: 85.375em) {
    html {
      font-size: calc(1rem * 1.6);
      line-height: calc(1rem * 1.8); } }
  @media (min-width: 120em) {
    html {
      font-size: calc(1rem * 1.8);
      line-height: calc(1rem * 2); } }
  @media (min-width: 160em) {
    html {
      font-size: calc(1rem * 4);
      line-height: calc(1rem * 2.2); } }

.tlt span {
  font-size: 3rem; }

.tlt p {
  font-size: calc(1rem*0.8); }

section h2 {
  font-weight: 100;
  letter-spacing: 0.33em;
  text-transform: uppercase; }

section#about {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#about {
      padding: 3rem; } }

section#team {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#team {
      padding: 3rem; } }

section#progress {
  padding: 2rem 1rem; }
  @media (min-width: 48em) {
    section#progress {
      padding: 3rem; } }

section#about .inner {
  padding: 1rem; }
  @media (min-width: 120em) {
    section#about .inner {
      padding: 1rem; } }

section#team .inner {
  padding: 1rem;
  text-align: center; }
  @media (min-width: 120em) {
    section#team .inner {
      padding: 1rem; } }

.about-icons-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  height: 5rem;
  width: 100%;
  vertical-align: middle; }

.about-icon {
  display: inline-block;
  font-size: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.about-icon-text {
  display: table;
  vertical-align: middle;
  font-weight: 100;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-left: 0.4rem;
  height: 100%; }

.about-icon-text p {
  vertical-align: middle;
  display: table-cell;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.plans div h2 {
  font-size: 3rem;
  letter-spacing: 0.1rem; }

.plans div h4 {
  font-size: 0.6rem; }

.plans div h3 {
  font-size: 1.2rem; }

.plans div p {
  font-size: 0.6rem; }

.plans > div {
  text-align: center;
  color: #fff;
  position: relative; }

.plans-border {
  border: 1px solid #becfd3;
  width: 80%;
  padding-top: 2rem;
  margin-bottom: 3rem; }
  @media (min-width: 48em) {
    .plans-border {
      width: 25%;
      margin-bottom: 0; } }

.plans-border2 {
  border: 3px solid #fff;
  width: 80%;
  padding-top: 2rem;
  margin-bottom: 3rem; }
  @media (min-width: 48em) {
    .plans-border2 {
      width: 25%;
      margin-bottom: 0; } }

.plans-border3 {
  border: 1px solid #becfd3;
  width: 80%;
  padding-top: 2rem; }
  @media (min-width: 48em) {
    .plans-border3 {
      width: 25%;
      margin-bottom: 0; } }

.plans-configurations {
  margin-top: 3rem;
  padding-bottom: 8rem; }

.social-icon-team {
  display: table;
  margin: 0 auto;
  padding: 0px; }

.icon-team {
  list-style: none;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  vertical-align: middle; }

.icon-team a {
  display: block;
  background-size: 2rem, 2rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out; }

.icon-team a:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2); }

.animate-numbers {
  height: auto; }

.number {
  text-align: center;
  font-weight: 100;
  color: #fff; }

.counter {
  color: #fff;
  display: inline; }

.number span {
  font-size: 3rem; }

.number p {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1.5rem auto 1.5rem; }

.count {
  padding: 0.5rem; }
  @media (min-width: 48em) {
    .count {
      padding: 1.5rem; } }

.count1 {
  background-image: url("../images/background1.jpg"); }

.count2 {
  background-image: url("../images/background1.jpg"); }

.count3 {
  background-image: url("../images/background1.jpg"); }

.count4 {
  background-image: url("../images/background1.jpg"); }

.count1-white {
  background: #fff; }

.counter-white {
  color: #313131;
  display: inline; }

.number-white p {
  color: #313131; }

.prog-bar h2 {
  text-align: center; }

.progress_bar {
  text-align: center; }

.progress_bar h2 {
  color: #313131; }

.progress {
  position: relative;
  height: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #313131; }

.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.2rem 2rem 0.1rem 1rem;
  color: #313131; }

.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 400;
  padding: 0.2rem 1rem 0.1rem;
  color: #fff; }

.progress-bar {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none !important; }

.navbar {
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 99999;
  width: 100%; }

.navbar-brand {
  padding: 0;
  display: inline;
  overflow: hidden; }

.navbar-brand img {
  float: left;
  height: 2.5rem; }

.navbar-default {
  background-color: transparent;
  border-bottom: transparent; }

.navbar-toggler {
  padding: 0; }

.navbar-toggler-icon {
  background-image: url(../images/menu-icon.png);
  margin: 0 0.5rem;
  max-height: 25px; }
  @media (min-width: 64em) {
    .navbar-toggler-icon {
      max-height: 18px; } }

.navbar-nav > li > a {
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 64em) {
    .navbar-nav > li > a {
      font-size: 0.6rem; } }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #fff; }

.navbar-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.75); }

.dropdown-menu {
  background-color: #313131; }

.dropdown-menu > li > a {
  display: block;
  clear: both;
  font-weight: 100;
  line-height: 1.82857143;
  color: #fff;
  white-space: nowrap; }

.dropdown-menu > li > a:hover {
  background-color: #3e3e3e;
  color: #fff; }

.dropdown-item {
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff; }

.navbar-scroll-background {
  position: fixed;
  top: 0;
  background: transparent; }

.navbar-scroll-background ul {
  list-style-type: none;
  padding: 0; }

.navbar-scroll-background ul li {
  display: inline-block;
  color: transparent; }

/*# sourceMappingURL=style.css.map */
